.container{
    width: 100%;
    position: relative;

    .prevButton {
        display: none;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 45%;
        left: 0;
        background-color: rgba(0, 0, 0, 0.3);
        border-radius: 0 100px 100px 0;
        height: 80px;
        width: 40px;

        .btnIcon {
            font-size: 60px;
            font-weight: 600;
            color: aliceblue;
        }
    }

    .nextButton {
        display: none;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 45%;
        right: 0;
        background-color: rgba(0, 0, 0, 0.3);
        border-radius: 100px 0 0 100px;
        height: 80px;
        width: 40px;

        .btnIcon {
            font-size: 60px;
            font-weight: 600;
            color: aliceblue;
        }
    }

    &:hover .nextButton,
    &:hover .prevButton {
        display: flex;
        cursor: pointer;
    }

}

.slideShow {
    position: relative;
    overflow: hidden;

    overflow-x: scroll;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
    &::-webkit-scrollbar {
        display: none;
    }
    
    .slide {
        // width: 100%;
        max-height: 926px;
        display: flex;
        flex-flow: column wrap;
        gap: 10px;
        transition: ease 1000ms;
    }
}
